.container-fluid {
	padding: 0px;
}
.backgroundImg {
	background-color: #878787;
	height: 1800px;
	background-image: url("/img/airyBlissDemo/floorPlan.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	padding-left: 0px;
	padding-right: 0px;
    
	
}
.woodPanel {
	background-color: black;
	height: 600px;
    margin-top: 60px;
	background-image: url("/img/airyBlissDemo/woodPanel.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 0px;
	padding-right: 0px;
}

.helloWorld {
    opacity: 0.8;
	color: white;
    background-color: black;    
}
body {
	background-color: #878787;
}

/*****drop down css*****/
/* Menu Styles */

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 50px;
    background: black;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 50px;
    width:140px;
    background: black;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 50px;
    width: 150px;
    margin-top: 5px;
    margin-left: 8px;
    background: black;
    opacity: 0.9;
    text-align:center;
    


}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding-top: 6px;
    height: 50px;
    border-style: solid;
    border-color: white;
    border-width: 2px;


    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: white; }




.menuBoxes{
    margin-left: 30px;
    margin-top: 10px;
    height: 50px;
    background-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
    /*opacity: 0.7;*/
    /*width: 160px;*/
    
}
.menuSpace {
    width: 10px;
}
